# Tüm anahtarlar isteğe bağlıdır. Bu dosyayı .env.local adıyla kopyalayın.
# Anahtarları tırnak içine almanız gerekmez.

# https://fredaccount.stlouisfed.org/apikeys
FRED_API_KEY=

# https://www.alphavantage.co/support/#api-key
ALPHA_VANTAGE_API_KEY=

# https://eodhd.com/developer/api-keys
EODHD_API_KEY=
